@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.edit-user {
  max-width: 400px;
  margin: auto;
  padding: 30px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0px 8px 16px rgb(0, 0, 0);
  text-align: center;
}

h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}

.form-group label {
  font-size: 14px;
  font-weight: 500;
  color: #000000;
  display: block;
  margin-bottom: 5px;
}

.form-control {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  transition: border 0.3s ease-in-out;
}

.form-control:focus {
  border: 1px solid #549bff;
  outline: none;
}

.form-control[disabled] {
  background-color: #f5f5f5;
  color: #888;
  cursor: not-allowed;
}

.error-message {
  background-color: #ffefef;
  color: #000000;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 15px;
  font-size: 14px;
}

.btn-save {
  background: #4885ff;
  color: white;
  border: none;
  padding: 12px;
  width: 100%;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}

.btn-save:hover {
  background: #5a54e1;
}

/* Responsive */
@media (max-width: 480px) {
  .edit-user {
    width: 90%;
    padding: 20px;
  }
}
