<br>
<br>
<br>
<br>

<div class="teachers-list">
    <h2>Profesores</h2>
  
    <!-- Botón para agregar/volver -->
    <button (click)="toggleForm()">{{ showForm ? 'Volver' : 'Agregar Profesor' }}</button>
    <button (click)="refreshPage()">Refrescar</button>
  
    <!-- Lista de profesores -->
    <table *ngIf="!showForm">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Especialización</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let teacher of teachers">
          <td>{{ teacher.name }}</td>
          <td>{{ teacher.specialization }}</td>
          <td>
            <button (click)="toggleForm(teacher)">Editar</button>
            <button (click)="deleteTeacher(teacher.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Mostrar el formulario de agregar/editar -->
    <app-teacher-form *ngIf="showForm" [teacher]="teacherToEdit" [editing]="editing" (teacherSaved)="teacherSaved()"></app-teacher-form>
  </div>
  