/* Estilo General */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #f4f7fa;
  color: #07074d;
  margin: 0;
}

button {
  padding: 10px 20px;
  font-size: 14px;
  background-color: #4c8dff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0370ff;
}

/* Espaciado para el formulario */
button {
  margin-bottom: 20px;
}

/* Estilos para la lista de proyectos */
.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
  margin-top: 20px;
}

.project-card {
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  width: 30%;
  transition: transform 0.3s ease-in-out;
  text-align: center;
  margin-bottom: 20px;
}

.project-card:hover {
  transform: translateY(-5px);
}

.project-card img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project-card h3 {
  font-size: 18px;
  font-weight: 600;
  color: #07074d;
  margin-bottom: 10px;
}

.project-card p {
  font-size: 14px;
  color: #000000;
}

.project-card a {
    font-size: 20px;
    color: #c40000;
  }
/* Estilos para el formulario de proyecto */
app-project-form {
  margin-top: 30px;
  width: 100%;
  max-width: 600px;
  background: #fff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
}

app-project-form input,
app-project-form textarea {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px;
  border: 1px solid #dde3ec;
  border-radius: 8px;
  font-size: 14px;
  color: #536387;
}

app-project-form button {
  background-color: #6a64f1;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s ease;
}

app-project-form button:hover {
  background-color: #5a54e1;
}

@media (max-width: 768px) {
  .project-card {
    width: 100%;
  }

  app-project-form {
    width: 100%;
    padding: 15px;
  }
}
