<body>
    <header class="hero">
        <nav class="nav container">
        </nav>

        <section class="hero__container container">
            <h1 class="hero__title">Domina lenguajes de programación, desde frontend hasta backend.</h1>
            <p class="hero__paragraph">Elige tu camino y aprende lenguajes como JavaScript, Python, Ruby, y muchos más. ¡Conviértete en un experto y lleva tus habilidades al siguiente nivel!</p>
            <a href="#" class="cta">Comienza ahora</a>
        </section>
    </header>

    <main>
        <section class="container about">
            <h2 class="subtitle">¿Qué aprenderás en nuestros cursos?</h2>
            <p class="about__paragraph">Desde los fundamentos básicos hasta conceptos avanzados de lenguajes de programación como JavaScript, Python, Java, y Ruby. Domina tanto el desarrollo frontend como backend.</p>

            <div class="about__main">
                <article class="about__icons">
                    <img src="https://static.vecteezy.com/system/resources/previews/027/127/560/non_2x/javascript-logo-javascript-icon-transparent-free-png.png" class="about__icon">
                    <h3 class="about__title">JavaScript</h3>
                    <p class="about__paragrah">Aprende el lenguaje esencial para desarrollar sitios web interactivos y dinámicos. ¡Te ayudaremos a dominar desde la sintaxis básica hasta el desarrollo avanzado con frameworks como React y Node.js!</p>
                </article>

                <article class="about__icons">
                    <img src="https://cdn.freebiesupply.com/logos/large/2x/python-5-logo-png-transparent.png" class="about__icon">
                    <h3 class="about__title">Python</h3>
                    <p class="about__paragrah">Python es un lenguaje poderoso y fácil de aprender. Aprende a usarlo en áreas como desarrollo web, análisis de datos, inteligencia artificial y más.</p>
                </article>

                <article class="about__icons">
                    <img src="https://images.vexels.com/media/users/3/166401/isolated/preview/b82aa7ac3f736dd78570dd3fa3fa9e24-icono-del-lenguaje-de-programacion-java.png" class="about__icon">
                    <h3 class="about__title">Java</h3>
                    <p class="about__paragrah">Java es uno de los lenguajes más utilizados para el desarrollo de aplicaciones empresariales y móviles. Aprende a construir sistemas robustos y escalables.</p>
                </article>
            </div>
        </section>

        <section class="knowledge">
            <div class="knowledge__container container">
                <div class="knowledege__texts">
                    <h2 class="subtitle">Curso completo de JavaScript. ¡Domina el desarrollo web!</h2>
                    <p class="knowledge__paragraph">Desde las bases de JavaScript hasta trabajar con frameworks como React y Vue. Aprende a crear aplicaciones web modernas e interactivas desde cero.</p>
                    <a href="#" class="cta">Entra al curso</a>
                </div>

                <figure class="knowledge__picture">
                    <img src="https://www.qindel.com/wp-content/uploads/2022/05/beneficios-react-qindel.jpg" class="knowledge__img" style="border-radius: 50px;">
                </figure>
            </div>
        </section>

        <section class="price container">
            <h2 class="subtitle">Obtén el plan perfecto para aprender</h2>

            <div class="price__table">
                <div class="price__element">
                    <p class="price__name">Introducción a JavaScript</p>
                    <h3 class="price__price">Free</h3>

                    <div class="price__items">
                        <p class="price__features">Sintaxis básica</p>
                        <p class="price__features">Funciones y eventos</p>
                        <p class="price__features">Manipulación de DOM</p>
                    </div>

                    <a href="#" class="price__cta">Empieza ahora</a>
                </div>

                <div class="price__element price__element--best">
                    <p class="price__name">JavaScript Avanzado</p>
                    <h3 class="price__price">$30/mes</h3>

                    <div class="price__items">
                        <p class="price__features">ES6+</p>
                        <p class="price__features">Node.js</p>
                        <p class="price__features">Asincronía</p>
                    </div>

                    <a href="#" class="price__cta">Empieza ahora</a>
                </div>

                <div class="price__element">
                    <p class="price__name">Python para Principiantes</p>
                    <h3 class="price__price">$40/mes</h3>

                    <div class="price__items">
                        <p class="price__features">Sintaxis básica de Python</p>
                        <p class="price__features">Estructuras de datos</p>
                        <p class="price__features">Desarrollo web con Flask</p>
                    </div>

                    <a href="#" class="price__cta">Empieza ahora</a>
                </div>
            </div>
        </section>

        <section class="testimony">
            <div class="testimony__container container">
                <img src="https://cdn-icons-png.freepik.com/512/7022/7022695.png" class="testimony__arrows" id="before">

                <section class="testimony__body testimony__body--show" data-id="1">
                    <div class="testimony__texts">
                        <h2 class="subtitle">Mi nombre es Jordan Alexander, <span class="testimony__course">estudiante de JavaScript.</span></h2>
                        <p class="testimony__review">El curso de JavaScript cambió mi vida. Pude crear aplicaciones web funcionales con un sólido dominio de la sintaxis y el DOM. ¡Recomiendo totalmente este curso!</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="https://images.unsplash.com/photo-1547425260-76bcadfb4f2c?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Nnx8cGVyc29uYXxlbnwwfHwwfHx8MA%3D%3D" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body" data-id="2">
                    <div class="testimony__texts">
                        <h2 class="subtitle">Mi nombre es Alejandra Perez, <span class="testimony__course">estudiante de Python.</span></h2>
                        <p class="testimony__review">Gracias a este curso, ahora puedo desarrollar aplicaciones web en Python usando Flask. La claridad de los conceptos y la práctica constante fue clave para mi éxito.</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="https://media.istockphoto.com/id/1386479313/es/foto/feliz-mujer-de-negocios-afroamericana-millennial-posando-aislada-en-blanco.jpg?s=612x612&w=0&k=20&c=JP0NBxlxG2-bdpTRPlTXBbX13zkNj0mR5g1KoOdbtO4=" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body" data-id="3">
                    <div class="testimony__texts">
                        <h2 class="subtitle">Mi nombre es Karen Arteaga, <span class="testimony__course">estudiante de Java.</span></h2>
                        <p class="testimony__review">El curso de Java me permitió comprender a fondo el desarrollo de aplicaciones empresariales. ¡Ahora soy capaz de construir sistemas escalables y de alto rendimiento!</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSufRsijSh751WgNHr5vm3N9SqBHhT_XrrxXVfPozX8QMwwBnFwd00Uq4DwTk89lU0At-c&usqp=CAU" class="testimony__img">
                    </figure>
                </section>

                <section class="testimony__body" data-id="4">
                    <div class="testimony__texts">
                        <h2 class="subtitle">Mi nombre es Kevin Ramirez, <span class="testimony__course">estudiante de Ruby.</span></h2>
                        <p class="testimony__review">El curso de Ruby fue muy completo, me enseñó a desarrollar aplicaciones web con Rails y a manejar bases de datos con facilidad. Ahora trabajo como desarrollador backend.</p>
                    </div>

                    <figure class="testimony__picture">
                        <img src="https://images.unsplash.com/photo-1535713875002-d1d0cf377fde?fm=jpg&q=60&w=3000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8cGVyZmlsJTIwZGUlMjBob21icmV8ZW58MHx8MHx8fDA%3D" class="testimony__img">
                    </figure>
                </section>

                <img src="https://cdn-icons-png.freepik.com/512/7022/7022695.png" class="testimony__arrow" id="next">
            </div>
        </section>

        <section class="questions container">
            <h2 class="subtitle">Preguntas frecuentes</h2>
            <p class="questions__paragraph">Resolvemos todas tus dudas sobre los cursos de programación y nuestra metodología de enseñanza.</p>

            <section class="questions__container">
                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">¿Qué lenguajes de programación se enseñan?
                            <span class="questions__arrow">
                                <img src="https://cdn-icons-png.flaticon.com/512/32/32195.png" class="questions__img">
                            </span>
                        </h3>

                        <p class="questions__show">En nuestros cursos podrás aprender lenguajes como JavaScript, Python, Java, Ruby, y más, tanto para frontend como backend. Cada curso está diseñado para brindarte los conocimientos necesarios según el nivel de experiencia que tengas.</p>
                    </div>
                </article>

                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">¿Son cursos para principiantes?
                            <span class="questions__arrow">
                                <img src="https://cdn-icons-png.flaticon.com/512/32/32195.png" class="questions__img">
                            </span>
                        </h3>

                        <p class="questions__show">Sí, tenemos cursos que van desde nivel principiante hasta avanzado, para que puedas aprender a tu propio ritmo. Los cursos son prácticos, con ejercicios reales y proyectos para que pongas en práctica lo aprendido.</p>
                    </div>
                </article>

                <article class="questions__padding">
                    <div class="questions__answer">
                        <h3 class="questions__title">¿Cuánto tiempo dura el curso?
                            <span class="questions__arrow">
                                <img src="https://cdn-icons-png.flaticon.com/512/32/32195.png" class="questions__img">
                            </span>
                        </h3>

                        <p class="questions__show">El tiempo varía según el curso y el ritmo de cada estudiante. Sin embargo, la mayoría de nuestros cursos están diseñados para completarse en 3 a 6 semanas si estudias a tiempo completo.</p>
                    </div>
                </article>
            </section>

            <section class="questions__offer">
                <h2 class="subtitle">¿Estás listo para aprender a programar?</h2>
                <p class="questions__copy">Nuestros cursos te brindarán las herramientas necesarias para convertirte en un programador profesional. ¡Es tu momento de comenzar a construir el futuro que siempre soñaste!</p>
                <a href="login-register" class="cta">Aprende ahora</a>
            </section>
        </section>
    </main>

    <footer class="footer">
        <section class="footer__container container">
            <nav class="nav nav--footer">
                <h2 class="footer__title">Cursos de Programación</h2>

                <ul class="nav__link nav__link--footer">
                    <li class="nav__items">
                        <a href="#" class="nav__links">Inicio</a>
                    </li>
                    <li class="nav__items">
                        <a href="#" class="nav__links">Acerca de</a>
                    </li>
                    <li class="nav__items">
                        <a href="#" class="nav__links">Contacto</a>
                    </li>
                    <li class="nav__items">
                        <a href="#" class="nav__links">Blog</a>
                    </li>
                </ul>
            </nav>

            <form class="footer__form" action="">
                <h2 class="footer__newsletter">Suscríbete a nuestra newsletter</h2>
                <div class="footer__inputs">
                    <input type="email" placeholder="Email:" class="footer__input" name="_replyto">
                    <input value="Regístrate" class="footer__submit">
                </div>
            </form>
        </section>

        <section class="footer__copy container">
            <div class="footer__social">
                <a href="#" class="footer__icons"><img src="https://images.icon-icons.com/1109/PNG/512/1486053608-facebook_79182.png" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="https://freelogopng.com/images/all_img/1657045903twitter-logo-transparent-background.png" class="footer__img"></a>
                <a href="#" class="footer__icons"><img src="https://images.vexels.com/content/137425/preview/youtube-icon-logo-719479.png" class="footer__img"></a>
            </div>

            <h3 class="footer__copyright">Derechos reservados &copy; Cursos de Programación</h3>
        </section>
    </footer>
</body>
