<div class="courses-list">
    <h2>Cursos</h2>
  
    <!-- Botón para refrescar la página -->
    <button (click)="refreshPage()">Refrescar</button>
  
    <!-- Botón para agregar/volver -->
    <button (click)="toggleForm()">{{ showForm ? 'Volver' : 'Agregar Curso' }}</button>
  
    <!-- Lista de cursos -->
    <table *ngIf="!showForm">
      <thead>
        <tr>
          <th>Título</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th>Profesor</th>
          <th>Imagen</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses">
          <td>{{ course.title }}</td>
          <td>{{ course.description }}</td>
          <td>{{ course.price }}</td>
          <td>{{ getProfessorName(course.professorId) }}</td>
          <td><img [src]="course.imageUrl" alt="{{ course.title }}" width="50" /></td>
          <td>
            <button (click)="toggleForm(course)">Editar</button>
            <button (click)="deleteCourse(course.id)">Eliminar</button>
          </td>
        </tr>
      </tbody>
    </table>
  
    <!-- Mostrar el formulario de agregar/editar -->
    <app-course-form *ngIf="showForm" [course]="courseToEdit" [editing]="editing" (courseSaved)="courseSaved()"></app-course-form>
  </div>
  